body {
    font-family: 'Roboto', monospace;
    margin: 0;
    height: 100vh;
    background-color: rgb(17, 33, 61);
    color: azure;

    background-image: url("assets/alps.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-blend-mode: revert;
}

body::after {
    content:"";
    z-index: -100;
    background: linear-gradient(to right,
    rgb(17, 33, 61) 20%,
    rgba(17, 33, 61, 0.5));
    height: 400px;
    width: 100vw;
    max-width: 900px;
    position: fixed;
    bottom: 0;
    right: 0;
}


ul {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}
button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
}

.header {
    background-color: rgba(49, 101, 229, 0.51);
    box-shadow: 0px 5px 5px black;
    height: 80px;
    font-size: 2rem;
    padding: 30px 0 0 30px;
}
.app {
    font-size: 1.2rem;
    padding: 20px;
}


.breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    height: 2rem;
}

.breadcrumb-action {
    cursor: pointer;
    background-color: azure;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 4px;

    filter: revert;
}

.breadcrumb-action svg {
    color: black;
}

.breadcrumb-text {
    margin-left: 10px;
    cursor: default;
}


/* --------------- ITEMS ------------------- */

.item {
    /*width: 40vw;*/
    min-width: 10rem;
    cursor: pointer;

    display: flex;
}
.item:hover {
    background-color: rgba(240,255,255,0.3);
}

.item span {
    font-size: 0.8rem;
    margin-left: 4px;
    margin-bottom: 8px;
    margin-top: auto;
}

.item-folder {
    height: 2.2rem;
    font-weight: 900;
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
}
.item-file {
    height: 2.2rem;
    font-weight: 200;
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
}

.item-file input, .item-folder input {
    background-color: transparent;
    color: inherit;
    font: inherit;
    border: none;
}

.icon-wrapper {
    display: inline-flex;
    width: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.item-action .icon-wrapper{
    font-size: 0.9rem;
    opacity: 0.2;
    background-color: azure;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 999px;
}

.item-action .icon-wrapper:hover {
    opacity: 1;
}

/* --------------- command section ------------------- */
div.commands {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-bottom: 30px;
}



/* --------------- ADD FILE ------------------- */

input[type="file"]{
    /*position: absolute;
    top: -500px;*/
    width: 0;
    height: 1.8rem;
    margin-top: 8px;
}

.add-file label {
    cursor: cell;
    padding: 4px 8px;
    border: 1px solid azure;
}

.add-file label:hover {
    background-color: steelblue;
}


/* --------------- CHANGE ORDER ------------------- */
.order-items {
    cursor: cell;
    padding: 4px 8px;
    border: 1px solid azure;
    margin-bottom: 8px;
}



/* --------------- ADD FOLDER ------------------- */

.add-folder {
    margin-bottom: 10px;
}

.add-folder svg{
    margin-right: 0.5rem;
}
.add-folder span {
    font-size: 1.8rem;
    margin-left: 5px;
    /*vertical-align: bottom;*/
}



/* --------------- VARIOUS ------------------- */


.alert {
    color: #650b8c;
}
.msg-error {
    background-color: rgba(240, 255, 255, 0.7);
    color: darkred;
    font-size: 0.9rem;
    padding: 2px 6px;
}

.flex-horizontal {
    display: flex;
    align-items: center;
}

.flex-horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-horizontal-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.fluo {
    background-color: #b3ff31 !important;
    color: #650b8c !important;
    font-weight: 900 !important;
    font-size: 2rem !important;
}